@import '../../variables.scss';

.history {
    margin-top: 16px;
    display: block;
    width: 90%;
    &__heading{
        text-align: center;
        color: $darkpurple;
        margin-bottom: 0;
        font-size: 20px;
        @media (min-width: 360px){
            margin: 24px 0;
        }
        @media (min-width: 400px){
            font-size: 28px;
            margin: 32px 0;
        }
        @media (min-height: 800px){
            margin-top: 32px;
          }     
    }
    &-list{
        padding: 0 8px 0 0;
        list-style: none;
        color: $white;
        font-size: 10px;
        line-height: 2;  
        @media (min-width: 360px){
            font-size: 12px;
            
        }
        @media (min-width: 400px){
            line-height: 2.5;
            font-size: 13px;
        }  
        @media (min-height: 800px){
            line-height: 3;
          } 
        &__heading{
            @media (min-width: 400px){
                font-size: 16px;
            }
              
        }  
    }
    &-wrapper{
        display: flex;
        justify-content: space-around;
       
    }
}