@import "../../variables.scss"; 

.end-of-time{
    width: 100%;
    // background: purple;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: $darkpurple;
    top: 0;
    left: 0;
    color: white;
    z-index: 5
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $white;
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 65%;
    &__title{
        font-size: 24px;
    }
    &__time{
        font-size: 12px;
    }
    &__pauses{
        font-size: 14px;
    }
}

.stop{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 28px;
        color: $red2;
    }
    &__button{
        display: block;
        background: $red1;
        border: 1px solid $white;
        border-radius: 16px;
        color: $white;
        padding: 6px 16px;
        width: 150px;
        margin-top: 16px;
    }
}