@import './variables.scss';

.app {
  width: 90vw;
  min-height: 90%;
  background: $lightpurple;
  border-radius: 8px;
  // padding: 16px
}

h1{
  color: $darkpurple;
  text-align: center;
  padding-top: 16px;
}