@import './variables.scss';

.app {
  padding: 24px 0;
  width: 90vw;
  min-height: 80vh;
  margin-top: 32px;
  background: $lightpurple;
  border-radius: 8px;
  @media (min-width: 768px){
    width: 450px;
  }    
}

h1{
  margin-top: 0;
  color: $darkpurple;
  text-align: center;
  padding-top: 16px;
  @media (min-width: 360px){
    font-size: 36px;
  }  
  @media (min-width: 400px){
    font-size: 40px;
  }  
  
}