@import '../../variables.scss';

.progress-bar{
    display: flex;
    height: 16px;
    border: 1px solid $darkpurple;
    padding: 4px;
    border-radius: 5px;
    background: $white;
    &__inside{
        border-radius: 3px;
        height: 100%;
        background-color: $darkpurple;
    }
}