@import '../../variables.scss';

.storage {
    margin-top: 16px;
    display: block;
    width: 100%;
    // margin: 0 auto;
    // flex-direction: column;
    // justify-content: flex-start;
    &__heading{
        text-align: center;
        color: $darkpurple;
    }
    &-list{
        padding: 0;
        list-style: none;
        color: $white;
        font-size: 12px;
        grid-column-start: 1;
        grid-column-end: 7;
        line-height: 2;
        &--time{
            grid-column-start: 8;
            grid-column-end: 8;
        }
        &__heading{
            // text-align: center;
        }
    }
    &-wrapper{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        
    }
}